.header {
  background: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25.5rem;
  position: relative;
  top:-130px;
}

.newTaskForm {
  position: absolute;
  height: 3.375rem;
  bottom: -27px;
  width: 100%;
  max-width: 46rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.newTaskForm input {
  height: 100%;
  width: 75%;
  max-width: 40rem;
  flex: 1;
  color: #fff;
  background: #262626;
  border: 0.063rem solid #4ea8de;
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
  
}

.newTaskForm input::placeholder {
  color: #808080;
}

.newTaskForm button {
  height: 100%;
  width: 35%;
  max-width: 6.25rem;
  padding: 0 1rem;
  background: #1e6f9f;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  font-weight: 700;
  font-size: 0.875rem;
}

.ripple{
  width: 100%;
  height: 100%;
  background-position: center;
  transition:  0.8s;
}
.ripple:hover{
  background: #b5c6d0 radial-gradient(circle, transparent 1%, #1e6f9f 1%) center/15000%;
}

.ripple:active{
  background-color: #eeeeee;
  background-size: 100%;
  transition:  0s;
}
