nav {
  display: flex;
  height: 4.2rem;
  flex-direction: row;
  width: 100%;
  max-width: 1285px;
  background-color: #262626;
  border: 0.018rem solid #4EA8DE;
  align-items: center;
  justify-content: space-between;
  margin: 1.85rem auto;
  border-radius: 8px;
  padding: 0 1.5rem;
  position:relative;
  z-index: 1;
}


.logo img {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.55));
}


.list-gap {
  display: flex;
  align-items: center;
  gap: 1.98rem;
  font-weight: 600;
  font-size: 0.75rem;
}
.list-gap a {
  color:#c9cccc;
  text-decoration: none;
  font-size: 0.92rem;
  position: relative;
  letter-spacing: 0.045rem;
  padding: 0 0.113rem;

}

.list-gap a:after {
    content: "";
    background-color: #4EA8DE;
    height: 0.118rem;
    width: 0;
    position: absolute;
    left:0;
    bottom: -0.35rem;
    transition: 0.3s;
  
  }

  .list-gap a:hover{
      color: #fff;
  }
  .list-gap a:hover:after{
    width: 100%;
  }

.list-gap a:first-of-type {
  color: #4EA8DE;
  font-weight: 700;
}
.list-gap a:first-of-type:hover {
    color: #fff;
  }
  
.btn-link {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}
.btn-link button {
  padding: 0.75rem 1rem;
  margin: 0 0.18rem;
  border: none;
  cursor: pointer;
  /*transform: 0.5s ease-in-out;*/
  background: #1e6f9f;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
}

.btn-link button:hover {
  color: #c9cccc;
}
